<ng-container [ngSwitch]="avaliacao">
    <div *ngSwitchCase="0" matTooltip="Avaliação: 0">
        <mat-icon id="disable">star</mat-icon>
        <mat-icon id="disable">star</mat-icon>
        <mat-icon id="disable">star</mat-icon>
        <mat-icon id="disable">star</mat-icon>
        <mat-icon id="disable">star</mat-icon>
    </div>
    <div *ngSwitchCase="1" matTooltip="Avaliação: 1">
        <mat-icon>star_half</mat-icon>
        <mat-icon id="disable">star</mat-icon>
        <mat-icon id="disable">star</mat-icon>
        <mat-icon id="disable">star</mat-icon>
        <mat-icon id="disable">star</mat-icon>
    </div>
    <div *ngSwitchCase="2" matTooltip="Avaliação: 2">
        <mat-icon>star</mat-icon>
        <mat-icon id="disable">star</mat-icon>
        <mat-icon id="disable">star</mat-icon>
        <mat-icon id="disable">star</mat-icon>
        <mat-icon id="disable">star</mat-icon>
    </div>
    <div *ngSwitchCase="3" matTooltip="Avaliação: 3">
        <mat-icon>star</mat-icon>
        <mat-icon>star_half</mat-icon>
        <mat-icon id="disable">star</mat-icon>
        <mat-icon id="disable">star</mat-icon>
        <mat-icon id="disable">star</mat-icon>
    </div>
    <div *ngSwitchCase="4" matTooltip="Avaliação: 4">
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon id="disable">star</mat-icon>
        <mat-icon id="disable">star</mat-icon>
        <mat-icon id="disable">star</mat-icon>
    </div>
    <div *ngSwitchCase="5" matTooltip="Avaliação: 5">
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star_half</mat-icon>
        <mat-icon id="disable">star</mat-icon>
        <mat-icon id="disable">star</mat-icon>
    </div>
    <div *ngSwitchCase="6" matTooltip="Avaliação: 6">
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon id="disable">star</mat-icon>
        <mat-icon id="disable">star</mat-icon>
    </div>
    <div *ngSwitchCase="7" matTooltip="Avaliação: 7">
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star_half</mat-icon>
        <mat-icon id="disable">star</mat-icon>
    </div>
    <div *ngSwitchCase="8" matTooltip="Avaliação: 8">
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon id="disable">star</mat-icon>
    </div>
    <div *ngSwitchCase="9" matTooltip="Avaliação: 9">
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star_half</mat-icon>
    </div>
    <div *ngSwitchCase="10" matTooltip="Avaliação: 10">
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
    </div>
</ng-container>