.tab {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    overflow: auto;
    display: flex;

    button {
        transition: all .2s ease-in;
        width: 100%;
        background-color: #f1f1f1;
        border: none;
        border-bottom: 2px solid #ccc;
        outline: none;
        cursor: pointer;
        height: 56px;
        font-weight: bold;
        color: #aaaaaa;

        &:hover {
            background-color: #ccc;
        }

        &.ativo {
            background-color: white;
            color: #22A353;
            border-bottom: 2px solid #22A353;
        }
    }
}